APP_HOST=127.0.0.1
APP_PORT=8000
DATABASE_PATH=.\data\links.db
BASE_URL=http://127.0.0.1:8000
LOG_LEVEL=INFO
LOG_FILE_PATH=.\logs\app.json.log
THREAD_POOL_WORKERS=8

JWT_SECRET=change-me
JWT_ALGORITHM=HS256

BOT_TOKEN="7759310685:AAF9X2vvv54rkhaBvvMeyvw6vJRbF0mwnNE"
ADMIN_CHAT_ID="1105812455"
